// app global css in SCSS form
$mainc: #2B2E4A;
$secondaryc: #903749;
//:root
//  --q-color-mainc $mainc;

body{
  color: primary;
  background-color: $mainc;
}

.text-mainc{
  color: $mainc !important;
}

.bg-mainc{
  background: $mainc !important;
}

.text-secondaryc{
  color: $secondaryc !important;
}

.bg-secondaryc{
  background: $secondaryc !important;
}
